@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root,
[data-theme] {
  background: hsl(var(--b2));
}

body {
  min-height: 100vh;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 0.5rem;
  line-height: 1;
}

p {
  margin: 1rem 0;
}

.btn {
  @apply shadow-md;
}

.btn.btn-ghost {
  @apply shadow-none;
}

.w-main-container {
  width: calc(70vw - 200px); /* Adjust 200px according to your sidebar width */
}

.h-large-div {
  height: 250px; /* Set the height of large divs according to your requirement */
}

.h-large-div-withdraw {
   height: 402px;
}
